html body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background:url("/assets/images/login_bg.jpg") no-repeat ;
    background-size:cover;
}
/* 登录框 */
.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* 登录框头部 */
.titleBox {
    width: 100%;
    height: 60px;
    background:url('/assets/images/login_title.png') no-repeat center
}
/* 注册界面默认隐藏 */ 
.reg-box {
    display: none;
}
.layui-form {
    padding:0 30px ;
}
.links {
    display: flex;
    justify-content: flex-end;
}
.links a {
    font-size: 12px;
}
.layui-form-item {
    position: relative;
}
.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
.layui-input {
    padding-left: 32px;
}